.token-wallet {
  display: flex;
  flex-direction: column;
  height: calc(100% - 3rem);
  border-top: var(--border);
  border-bottom: var(--border);
  padding: 0 1rem;
  position: relative;
  background-color: var(--bg-elem);
  box-shadow: var(--shadow);
  width: 100%;
  .table {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    .thead {
      color: var(--grey1);
      .tr {
        display: flex;
        align-items: center;
        margin: 0.75rem 0;
        box-shadow: var(--shadow);
        :not(span:nth-last-child(1), span:nth-child(1), span:nth-child(2)) {
          border-left: 2px solid var(--accent);
        }
        span:nth-last-child(1) {
          border-left: 2px solid var(--accent);
        }
        span:nth-last-child(1),
        span:nth-child(1),
        span:nth-child(2) {
          max-width: 2.5rem;
        }
        span:nth-child(3) {
          max-width: 4rem;
        }
        span:nth-child(5) {
          max-width: 8rem;
        }
        :not(span:nth-child(5), span:nth-child(6), span:nth-child(7), span:nth-child(8)) {
          padding-left: 0.25rem;
        }

        span {
          display: flex;
          height: 1.25rem;
          align-items: center;
          justify-content: center;
          font-size: var(--sm);
          font-weight: 3900;
          width: 100%;
          color: var(--grey2);
        }
      }
    }
    .tbody {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      .tr {
        display: flex;
        background-color: var(--bg2-light);
        height: 2rem;
        border-radius: 0.1rem;
        cursor: pointer;
        &:hover {
          background-color: var(--light);
          color: var(--grey1);
          box-shadow: var(--shadow);
        }
        span:nth-last-child(1),
        span:nth-child(1),
        span:nth-child(2) {
          max-width: 2.5rem;
          display: flex;
          justify-content: center;
        }
        span:nth-child(1) {
          font-size: var(--sm);
        }
        span:nth-child(3),
        span:nth-child(4) {
          padding-left: 0.75rem;
        }
        span:nth-child(3) {
          max-width: 4rem;
        }
        span:nth-child(5) {
          padding-left: 1.75rem;
        }
        span:nth-child(5) {
          max-width: 8rem;
        }
        span:nth-child(6),
        span:nth-child(7),
        span:nth-child(8) {
          justify-content: center;
        }
        span {
          display: flex;
          // justify-content: center;
          align-items: center;
          font-size: var(--sm);
          font-weight: 300;
          width: 100%;
          .holdings-icon {
            width: 1rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .token-wallet {
    .table {
      .tbody {
        .tr {
          span:nth-child(4) {
            padding-left: 0.2rem;
          }
          span:nth-child(5) {
            padding-left: 0.75rem;
          }
        }
      }
    }
  }
}
