.widget {
  width: 12rem;
  display: flex;
  background-color: rgb(41, 40, 64);
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  // -webkit-box-shadow: 8px 8px 8px -5px rgba(0, 0, 0, 0.75);
  // -moz-box-shadow: 8px 8px 8px -5px rgba(0, 0, 0, 0.75);
  // box-shadow: 8px 8px 8px -5px rgba(0, 0, 0, 0.75);
  &:hover {
    background-color: var(--white);
    color: var(--black);
  }
  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.1rem;
    .token__symbol {
      font-size: 0.8rem;
      text-transform: uppercase;
      .c_icon {
        height: 0.75rem;
        margin-right: 0.5rem;
      }
    }
    .token__name {
      font-size: 0.6rem;
      color: gray;
    }
    .token__price {
      font-size: 0.8rem;
    }
    .volume {
      padding-top: 0.2rem;
      display: flex;
      font-size: 0.6rem;
    }
    .market_cap {
      display: flex;
      font-size: 0.6rem;
    }
    .token__24hChange {
      display: flex;
      align-items: center;
      position: relative;
      font-size: 0.7rem;
      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
      .arrow_icon {
        display: flex;
        position: absolute;

        left: 2rem;
        top: -0.5rem;
        font-size: 2rem;
      }
    }
  }
}
