.holdings {
  font-size: 0.9rem;
  height: 18rem;
  min-width: 30rem;

  .wallet {
    // background-color: var(--transw);
    margin-top: 1rem;
    padding: 0 1rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    overflow: hidden scroll;
    height: 12rem;
    border-radius: 1rem;
    .wallet_content {
      cursor: pointer;
      display: flex;
      margin-bottom: 0.25rem;
      background-color: rgb(37, 37, 97);
      border-radius: 0.5rem;
      > * {
        width: calc(50%);
        margin: 0.25rem 1rem;
      }
      &:hover {
        transform: scale(1.05);
        background-color: var(--transw);
        transition: var(--transition);
      }
      .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .token_symbol_price {
          display: inline-flex;
          align-items: center;

          .token_symbol {
            font-size: 0.75rem;
            max-width: 5rem;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            margin-right: 0.5rem;
          }
          .token_price {
            font-size: 0.75rem;
            max-width: 8rem;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
        .token_name {
          font-size: 0.65rem;
          color: gray;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .token_value {
          font-size: 0.65rem;
        }
        .token_amount {
          font-size: 0.75rem;
        }
      }
    }
  }
}
