.home {
  // overflow: hidden;
  height: 100%;
  background-color: transparent;
  display: flex;
  position: relative;

  .home__container {
    flex-grow: 1;
    width: 100%;
    margin-left: 15rem;
    min-height: 100%;

    position: relative;
    .navbar__container {
      width: 100%;
      // overflow: hidden auto;
      padding: 1.5rem 1rem;
      position: relative;
    }
    .widgets__container {
      display: flex;
      padding: 1rem;
      gap: 1rem;
    }
  }
}
