.navbar {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #555;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  .connect_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}
