.balance_detail {
  height: 23rem;
  .balance_content {
    color: rgb(255, 255, 255);
    gap: 2rem;
    font-size: 1rem;
    margin: 1rem;
    .top {
      display: flex;
      padding: 0 0 2rem;
      .left {
        background-color: rgb(7, 12, 42);
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        width: 50%;
        .balance_total_label {
          color: gray;
        }
        .balance_total_usd {
          font-size: 1.5rem;
          margin-left: 1rem;
        }
        .balance_total_btc {
          font-size: 1rem;
          margin-left: 1rem;
        }
      }
      .right {
        display: flex;
        width: 50%;
        justify-content: center;
        .swap {
          color: rgb(223, 209, 209);
          margin-top: 1rem;
        }
        .swap:hover {
          color: black;
        }
      }
    }
    .bottom {
      text-align: center;
      justify-content: center;
      gap: 1rem;
      .transact {
        display: flex;
        gap: 0.5rem;

        > * {
          width: 50%;
        }
      }
    }
  }
}
