.balance_detail {
  font-size: 0.9rem;
  .balance_content {
    margin-top: 1rem;
    padding: 0 1rem 0 1rem;
    .top {
      color: white;
      display: flex;
      flex-direction: column;
      font-weight: 500;
      align-items: center;
      justify-content: center;
      height: 7rem;
      border-radius: 0.6rem 0.6rem 0 0;
      background-color: var(--transw);
      padding: 1rem;
      .balance_total_usd {
        font-size: 1rem;
        font-weight: 600;
      }
    }
    .bottom {
      display: flex;
      color: white;
      font-size: 1.5rem;
      font-weight: 600;
      height: 5rem;
      .receiveBtn {
        display: flex;
        background-color: rgb(63, 83, 126);
        border-bottom-left-radius: 0.6rem;
        width: calc(50%);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          transform: scale(1.02);
          color: rgb(171, 235, 162);
          transition: var(--transition);
        }
      }
      .sendBtn {
        display: flex;
        background-color: rgb(30, 22, 63);
        border-bottom-right-radius: 0.6rem;
        width: calc(50%);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          transform: scale(1.02);
          color: rgb(171, 235, 162);
          transition: var(--transition);
        }
      }
    }
  }
}
