:root {
  --bg: #181428;
  --bg2: #583a36;
  --tx-clr: #d9f6fb;
  --grey1: #aea9bb;
  --grey2: #797585;
  --light: rgba(255, 255, 255, 0.05);
  --border: 1px solid rgba(255, 255, 255, 0.05);
  --border2: 1px solid rgba(0, 0, 0, 0.5);
  --transition: 0.5s ease;
  --xxsm: 0.5rem;
  --xsm: 0.6rem;
  --sm: 0.7rem;
  --m: 1rem;
  --l: 1.5rem;
  --br: 0.5rem;
}
html {
  background: var(--bg);
  color: var(--tx-clr);
  transition: color var(--transition);
}

.btn {
  font-size: var(--m);
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: max-content;
  display: flex;
  background-color: var(--bg2);
  color: var(--grey2);
  padding: 0.5rem 0.6rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: var(--transition);
  border: var(--border2);
  &:hover {
    background-color: var(--light);
    color: var(--grey1);
    border: var(--border);
  }
}
.btn-drk {
  font-size: var(--m);
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: max-content;
  display: flex;
  background-color: var(--light);
  color: var(--grey1);
  padding: 0.5rem 0.6rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: var(--transition);
  border: var(--border);
  &:hover {
    background-color: var(--bg2);
    color: var(--grey2);
    border: var(--border2);
  }
}

.grid-row-span-2 {
  grid-row: span 2;
}
.grid-col-span-2 {
  grid-column: span 2;
}
