.App {
  height: 100vh;
  display: flex;

  .sidebar-left {
    width: 15rem;
    background-color: var(--bg2);
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    z-index: 9;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 30rem);
    // margin: 0 1rem;
    gap: 1rem;
    position: relative;
    .navbar {
      border-bottom: var(--border);
      height: 4rem;
      background-color: var(--bg2-light);
      box-shadow: var(--shadow);
    }
    .carousel {
      height: 4rem;
    }
    .content {
      height: calc(100vh - 9rem);
      width: 100%;
    }
  }
  .sidebar-right {
    width: 15rem;
    background-color: var(--bg2);
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

    // border-left: var(--border);
  }
}
