.dashboard {
  .dashboard_top {
    height: 30rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--bg);
    -webkit-box-shadow: inset 0px 0px 61px -62px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 61px -62px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 61px -62px rgba(0, 0, 0, 1);
    display: flex;

    justify-content: space-between;
    .dashboard_left {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 2rem;
    }
    .dashboard_right {
      // background-color: var(--bg);
      background-image: var(--bg-image);
      box-shadow: var(--shadow);
      display: flex;
      padding: 0 1.5rem;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      width: 100%;
      height: calc(100% - 2rem);
    }
  }
  .dashboard_bottom {
    height: calc(100vh - 42rem);
  }
}
