.dashboard {
  .dashboard_top {
    height: 30rem;
    display: flex;
    justify-content: flex-end;
    border: var(--border);
    align-items: center;
    .dashboard_left {
      width: 100%;
      display: flex;
    }
    .dashboard_right {
      background-color: var(--light);
      display: flex;
      padding: 0 1rem;
      margin-right: 1rem;
      border-radius: 1rem;
    }
  }
  .dashboard_bottom {
    height: calc(100vh - 42rem);
  }
}
